.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #0d6efd;
  border-radius: 4px;
  background: #0d6efd;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #0b5ed7;
  border-color: #0a58ca;
}

.button--inverse {
  background: transparent;
  color: #ff0055;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #ff0055;
}

.button--danger {
  background: #dc3545;
  border-color: #dc3545;
}

.button--danger:hover,
.button--danger:active {
  background: #bb2d3b;
  border-color: #bb2d3b;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}